/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Old+Standard+TT:wght@400;700&family=Roboto+Slab&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif; */
    font-family: 'Old Standard TT', serif;
}

:root {
    --black: #2f2f2f;
    --white: #fff;
    --red: #f83038;
    --blue: #7395AE;
    --darkblue: #88BDBC;
}

.main {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(#1c1c1c, #323232);
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main::before {
    content: 'E-class';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16vw;
    font-weight: 700;
    color: #7395AE;
    opacity: 0.1;

}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    max-width: 80px;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    position: relative;
    color: var(--white);
    margin-left: 70px;
    text-decoration: none;
    transition: 0.25s;
    font-size: large;
}

.navigation li a:hover {
    color: var(--blue);
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    z-index: 1;

}

.content h2 {
    font-size: 5em;
    font-weight: 300;
    color: var(--white);
    text-align: center;
}

.btn {
    display: inline-block;
    background: var(--blue);
    color: var(--white);
    text-decoration: none;
    padding: 16px 36px;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.25em;
    transition: 0.25 ease;


}

.btn:hover {
    letter-spacing: 3px;
}

.photu {
    max-width: 50%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sci {
    display: flex;

}

.sci li {
    list-style: none;

}

.sci li a {
    color: var(--white);
    font-size: 2em;
    margin-right: 20px;
    transition: 0.25s;
}

.sci li a:hover {
    color: var(--blue);
}

.dots {
    display: flex;

}

.dots .dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}

.dots .dot.active {
    background: var(--blue);
}

.slider .slides {
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    transition: 0.25s;
    opacity: 0;
}

.slider .slides.active {
    opacity: 1;
    top: 50%;

}

.slider .slides h2 {
    color: var(--white);
    font-size: 3.5em;
}

.slider .slides h2:last-child {
    text-align: end;
}

.slider .slides h2 span {
    color: var(--blue);
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;


}


.imageslider {
    background: linear-gradient(#1c1c1c, #323232);

}



.imageslides {
    margin-top: 1px;
    width: 100%;
    object-fit: cover;
    height: 800px;
    position: relative;
    background: linear-gradient(#1c1c1c, #323232);
}

.imageslides img {
    width: 100%;
    height: 789px;
    position: absolute;
    top: 0;
    left: 0;
}

.imageslides img:first-child {
    z-index: 1;
}

.imageslides img:nth-child(2) {
    z-index: 0;
}

.nav-buttons {

    text-align: center;
    position: relative;
}

.bindu {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.operational,
.bindu:hover {
    background-color: var(--blue);
}

.lasticons {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.listoficons {
    display: flex;

}

.listoficons li {
    list-style: none;

}

.listoficons li a {
    color: var(--white);
    font-size: 2em;
    margin-right: 20px;
    transition: 0.25s;
}

.listoficons li a:hover {
    color: var(--blue);
}